:root{
  font-family: 'EB Garamond', serif;
}

header {
  display: flex;
  align-items: center;
  font-size: 175px;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(117, 142, 142);
  font-size: large;
}

#start {
  display: block;
}

.hide{
  display:none;
}

.buttons {
  display: block;
  list-style: none;
  object-position: center;
  border: none;
  height: 40px;
  size: 300px;
}

#clock {
  width: 400px;
  height: 300px;
}
